.intro {
  background-color: #ee87a3;
  width: 50%;
  border: 10px solid hotpink;
  border-radius: 5px;
}

.intro h2 {
  font-family: cursive;
  color: #fff;
  text-decoration: overline;
}

.intro h3 {
  font-style: italic;
}

.intro p {
  font-family: sans-serif;
}

.intro img {
  width: 25%;
  margin-left: 25%;
}
